.searchGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sm-gap);
  margin-bottom: var(--m-48);
}

.searchGroup ion-icon {
  font-size: var(--md-fs);
}

.searchInput {
  font-family: inherit;
  font-size: var(--default-fs);
  background-color: var(--input-bg-color);
  border-radius: var(--default-brdr-rd);
  padding: var(--default-2v-pd);
  border: none;
  margin-bottom: var(--m-03);
  transition: var(--animation);
}

.searchInput:focus {
  outline: none;
  box-shadow: var(--focus-shdw);
}
