.container {
  min-height: calc(100vh - (var(--nav-height) + var(--notification-height)));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: var(--fs-24);
  text-transform: uppercase;
  border-radius: var(--default-brdr-rd);
  padding: var(--default-2v-pd);
  margin-bottom: var(--m-12);

  display: flex;
  align-items: center;
  gap: var(--sm-gap);
  margin-bottom: var(--m-24);
}

.container h1 div {
  width: 20px;
  height: 4px;
  background-color: var(--orange-color);
  border-radius: var(--default-brdr-rd);
}

.form {
  width: 32rem;
  flex-direction: column;
  gap: var(--sm-gap);
}
