.heroContainer > div {
  min-height: 100vh;
  max-width: 128rem;
  margin: 0 auto;
  padding: var(--bg-2v-pd);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--bg-gap);
}

.heroContainer > div h1 {
  width: 50%;
  font-size: var(--fs-52);
  font-weight: var(--md-weight);
  margin-bottom: var(--m-12);
}

.heroContainer > div h1 span {
  display: block;
  color: var(--violet-color);
  text-transform: uppercase;
  font-weight: var(--mx-weight);
}

.heroContainer > div h2 {
  font-size: var(--fs-24);
  margin-bottom: var(--m-48);
}

.btnGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--md-gap);
}

.featuresContainer {
  min-height: 100vh;
  background-color: var(--violet-color);

  padding: var(--bg-2v-pd);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--bg-gap);
}

.featuresContainer > div h2 {
  color: var(--light-color);
  text-align: center;
  font-size: var(--fs-24);
  text-transform: uppercase;
  font-weight: var(--mx-weight);
  margin-bottom: var(--m-12);
}

.featuresContainer ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--bg-gap);
}

.card {
  max-width: 34rem;
  color: var(--dark-color);
  padding: var(--md-2v-pd);
  border-radius: var(--default-brdr-rd);
  transition: var(--animation);

  background-color: var(--light-color);
}

.card header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: var(--m-12);
}

.card header h3 {
  font-size: var(--fs-24);
  text-transform: uppercase;
  overflow: hidden;
}

.card p {
  min-height: 1.6rem;
  margin-bottom: var(--m-12);
  overflow-wrap: break-word;
}

.blue {
  background-color: var(--blue-color);
  box-shadow: -6px 6px 0 var(--new-card-shadow);
}

.orange {
  background-color: var(--orange-color);
  box-shadow: -6px 6px 0 var(--inProgress-card-shadow);
}

.green {
  background-color: var(--green-color);
  box-shadow: -6px 6px 0 var(--completed-card-shadow);
}

.grey {
  background-color: var(--grey-color);
  box-shadow: -6px 6px 0 var(--add-card-shadow);
}

@media (max-width: 1280px) {
  .featuresContainer ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 960px) {
  .heroContainer > div {
    max-width: 64rem;
    flex-direction: column;
  }

  .featuresContainer ul {
    grid-template-columns: 1fr;
  }

  .heroContainer > div h1 {
    font-size: var(--fs-48);
  }
}
