.hero {
  min-height: 100vh;
  max-width: 128rem;
  margin: 0 auto;
  padding: var(--bg-2v-pd);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--bg-gap);
}

.main {
  width: 50%;
  font-size: var(--fs-52);
  font-weight: var(--md-weight);
  margin-bottom: var(--m-12);
}

.main span {
  display: block;
  color: var(--violet-color);
  text-transform: uppercase;
  font-weight: var(--mx-weight);
}

.secondary {
  font-size: var(--fs-24);
  margin-bottom: var(--m-48);
}

.btnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.featuresContainer {
  min-height: 100vh;
  background-color: var(--violet-color);

  padding: var(--bg-2v-pd);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--bg-gap);
}

.features h2 {
  color: var(--light-color);
  text-align: center;
  font-size: var(--fs-24);
  text-transform: uppercase;
  font-weight: var(--mx-weight);
  margin-bottom: var(--m-12);
}

.features .list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--bg-gap);
}

.card {
  width: 28rem;
  color: var(--dark-color);
  padding: var(--md-2v-pd);
  border-radius: var(--default-brdr-rd);
  transition: var(--animation);

  background-color: var(--light-color);
}

.card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: var(--m-12);
}

.card .title {
  font-size: var(--fs-24);
  text-transform: uppercase;
  overflow: hidden;
}

.card .description {
  margin-bottom: var(--m-12);
  overflow-wrap: break-word;
}

.blue {
  background-color: var(--blue-color);
  box-shadow: -6px 6px 0 var(--new-card-shadow);
}

.orange {
  background-color: var(--orange-color);
  box-shadow: -6px 6px 0 var(--inProgress-card-shadow);
}

.green {
  background-color: var(--green-color);
  box-shadow: -6px 6px 0 var(--completed-card-shadow);
}

@media (max-width: 1280px) {
  .hero,
  .features .list {
    max-width: 64rem;
    flex-direction: column;
  }

  .main {
    font-size: var(--fs-48);
  }
}
