.container {
  min-height: calc(100vh - (var(--nav-height) + var(--notification-height)));

  font-size: var(--default-fs);

  display: flex;
  align-items: center;
  justify-content: center;
}

.forms {
  max-width: 32rem;
  padding: var(--default-2v-pd);
}
