.uploadPhotoform {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: var(--m-48);
}

.photoInputGroup {
  background-color: var(--input-bg-color);
  color: var(--darkest-color);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: var(--default-2v-pd);
  transform: translateY(6px);
}

.photoInputGroup label {
  font-size: var(--default-fs);
  font-weight: var(--sm-weight);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoInputGroup input {
  display: none;
}

.uploadBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 1.9rem;
}
