.uploadPhotoform {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.photoInputGroup {
  background-color: #dee2e6;
  color: #212529;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 0.6rem 1.2rem;
  transform: translateY(6px);
}

.photoInputGroup label {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoInputGroup input {
  display: none;
}

.uploadBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 1.9rem;
}
