.loadingContainer {
  max-width: 128rem;
  padding: var(--default-2v-pd);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: var(--bg-gap);
}

@media (max-width: 768px) {
  .loadingContainer {
    grid-template-columns: 1fr;
  }
}
