.task {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr 1fr;
  align-items: center;
  gap: var(--sm-gap);
}

.task button {
  font-size: var(--fs-12);
}

.task p {
  min-width: 16rem;
  word-wrap: break-word;
}

.task svg {
  color: var(--green-color);
}

.task.inProgress svg {
  color: var(--orange-color);
}
