.detailsContainer {
  width: 32rem;
  display: flex;
  flex-direction: column;
  gap: var(--md-gap);
  margin-bottom: var(--m-24);
}

.detailsContainer .header {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: flex-start;
  gap: var(--sm-gap);
}

.detailsContainer .header h2 {
  max-width: 32rem;
  font-size: var(--fs-24);
  text-transform: uppercase;
}

.detailsContainer p {
  color: var(--grey-color);
}

.detailsContainer .keywordsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sm-gap);
}

.created,
.updated {
  font-size: var(--fs-12);
}

.created {
  margin-bottom: var(--m-03);
}

.created span {
  color: var(--green-color);
}

.updated span {
  color: var(--orange-color);
}

.new {
  text-transform: capitalize;
  color: var(--blue-color) !important;
}

.inProgress {
  text-transform: capitalize;
  color: var(--orange-color) !important;
}

.completed {
  text-transform: capitalize;
  color: var(--green-color) !important;
}

.loading {
  height: 24rem;
  background-color: var(--loading-bg-color);
  border-radius: var(--default-brdr-rd);
}
