.container {
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: var(--default-1v-pd);
}

.headerBox {
  max-width: 48rem;
}

.main {
  font-size: var(--mx-fs);
  font-weight: var(--md-weight);
  margin-bottom: var(--m-12);
}

.main span {
  display: block;
  color: var(--violet-color);
  text-transform: uppercase;
  font-weight: var(--mx-weight);
}

.secondary {
  font-size: var(--md-fs);
  margin-bottom: var(--m-48);
}

.img {
  height: 50%;
}
