.container {
  max-width: 960px;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: var(--bg-gap);
  padding: var(--bg-2v-pd);
}

.card {
  max-width: 30rem;
  background-color: var(--default-green-color);
  color: var(--default-dark-color);
  padding: var(--md-2v-pd);
  border-radius: var(--default-brdr-rd);
  font-size: var(--default-fs);
  box-shadow: -0.6rem 0.6rem 0 var(--green-btn-shdw-color);
  transition: all 0.3s;
  margin-bottom: var(--m-24);
}

.cardTitle {
  font-size: var(--md-fs);
  margin-bottom: var(--m-24);
}

.cardDescription {
  margin-bottom: var(--m-24);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--sm-gap);
  color: var(--default-light-color);
}

.card:hover {
  background-color: var(--default-violet-color);
  transform: translate(-6px, 6px);
  box-shadow: none;
  cursor: pointer;
}
