* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;

  /* LIGHT THEME */
  /* color: #495057;
  background-color: #f1f3f5; */

  /* DARK THEME */
  color: var(--default-light-color);
  background-color: var(--default-dark-bg-color);
}
