.container {
  min-width: 32rem;
  min-height: calc(100vh - var(--nav-height));

  font-size: var(--default-fs);

  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  padding: var(--default-1v-pd);
}
