.descriptionGroup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--sm-gap);

  margin-bottom: var(--m-24);
}

.descriptionGroup label {
  text-transform: capitalize;
}

.descriptionGroup textarea {
  height: 100px;
  resize: none;
  background-color: var(--input-bg-color);
  border-radius: var(--default-brdr-rd);
  padding: var(--default-2v-pd);
  border: none;
  transition: var(--animation);
}

.descriptionGroup textarea:focus {
  outline: none;
  box-shadow: var(--focus-shdw);
}

.errorInput {
  box-shadow: var(--error-shdw);
}

.errorMessage {
  color: var(--error-color);
  font-size: var(--fs-12);
  margin-top: var(--m-03);
}
