.keywordsGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sm-gap);
}

.keywordsGroup label {
  text-transform: capitalize;
}

.keywordsGroup input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--input-bg-color);
  border-radius: var(--default-brdr-rd);
  padding: var(--default-2v-pd);
  border: none;
  transition: all 0.3s;
  transform: translateY(6px);
}

.keywordsGroup input:focus {
  outline: none;
  box-shadow: var(--focus-shdw);
}

.errorInput {
  box-shadow: var(--error-shdw);
}

.errorMessage {
  color: var(--error-color);
  font-size: var(--mn-fs);
}

.keywordBtn {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sm-gap);
}
