.keywordTagGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--m-24);
}

.keywordTagList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sm-gap);
}

.errorMessage {
  color: var(--error-color);
  font-size: var(--mn-fs);
  margin-top: var(--m-03);
}
