.keywordGroup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--sm-gap);

  margin-bottom: var(--m-24);
}

.keywordGroup label {
  text-transform: capitalize;
}

.keywordGroup input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--input-bg-color);
  border-radius: var(--default-brdr-rd);
  padding: var(--default-2v-pd);
  border: none;
  transition: var(--animation);
}

.keywordGroup input:focus {
  outline: none;
  box-shadow: var(--focus-shdw);
}

.errorInput {
  box-shadow: var(--error-shdw);
}

.errorMessage {
  color: var(--error-color);
  font-size: var(--mn-fs);
  margin-top: var(--m-03);
}

.keywordBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sm-gap);

  margin-top: var(--m-06);
}
