.keywordGroup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--sm-gap);
}

.keywordGroup label {
  text-transform: capitalize;
}

.keywordGroup input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--input-bg-color);
  border-radius: var(--default-brdr-rd);
  padding: var(--default-2v-pd);
  border: none;
  transition: all 0.3s;
}

.keywordGroup input:focus {
  outline: none;
  box-shadow: var(--focus-shdw);
}

.errorInput {
  box-shadow: var(--error-shdw);
}

.errorMessage {
  color: var(--error-color);
  font-size: var(--mn-fs);
}

.keywordBtn {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sm-gap);
  margin-top: 0.6rem;
}
