.keywordsGroup {
  display: flex;
  flex-direction: column;

  margin-bottom: var(--m-24);
}

.keywordsGroup ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--sm-gap);
}

.errorMessage {
  color: var(--error-color);
  font-size: var(--fs-12);
  margin-top: var(--m-03);
}
