/* BUTTON */
.btn,
.btn:link,
.btn:visited {
  color: var(--dark-color);
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  padding: var(--sm-2v-pd);
  border-radius: var(--default-brdr-rd);
  border: none;
  width: 100%;
  transition: var(--animation);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sm-gap);
}

.btn:active {
  transform: translateY(6px);
  box-shadow: none;
}

.btn:focus-visible {
  outline: none;
  box-shadow: var(--focus-shdw);
}

/* violet */
.violetBtn {
  background-color: var(--violet-btn-bg-color);
  box-shadow: 0 0.6rem 0 var(--violet-btn-shdw-color);
}

.violetBtn:hover,
.violetBtn:active,
.violetBtn:focus-visible {
  background-color: var(--violet-btn-hvr-color);
  outline: none;
}

/* orange */
.orangeBtn {
  background-color: var(--orange-btn-bg-color);
  box-shadow: 0 0.6rem 0 var(--orange-btn-shdw-color);
}

.orangeBtn:hover,
.orangeBtn:active,
.orangeBtn:focus-visible {
  background-color: var(--orange-btn-hvr-color);
  outline: none;
}

/* green*/
.greenBtn {
  background-color: var(--green-btn-bg-color);
  box-shadow: 0 0.6rem 0 var(--green-btn-shdw-color);
}

.greenBtn:hover,
.greenBtn:active,
.greenBtn:focus-visible {
  background-color: var(--green-btn-hvr-color);
  outline: none;
}

/* loading */
.loading {
  color: var(--loading-font-color);
  background-color: var(--loading-bg-color) !important;
  transform: translateY(6px);
  box-shadow: none;
}
