/* BUTTON */
.btn,
.btn:link,
.btn:visited {
  color: inherit;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  border: none;
  width: 100%;
  transition: all 0.3s;
}

.btn:active {
  transform: translateY(6px);
  box-shadow: none;
}

.btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.4rem #495057;
}

/* violet */
.violetBtn {
  background-color: #845ef7;
  box-shadow: 0 0.6rem 0 #5f3dc4;
}

.violetBtn:hover,
.violetBtn:active,
.violetBtn:focus-visible {
  background-color: #9775fa;
  outline: none;
}

/* orange */
.orangeBtn {
  background-color: #ff922b;
  box-shadow: 0 0.6rem 0 #d9480f;
  color: #212529;
}

.orangeBtn:hover,
.orangeBtn:active,
.orangeBtn:focus-visible {
  background-color: #ffa94d;
  outline: none;
}

/* green*/
.greenBtn {
  background-color: #51cf66;
  box-shadow: 0 0.6rem 0 #2b8a3e;
  color: #212529;
}

.greenBtn:hover,
.greenBtn:active,
.greenBtn:focus-visible {
  background-color: #69db7c;
  outline: none;
}

/* grey */
.greyBtn {
  background-color: #dee2e6;
  box-shadow: 0 0.6rem 0 #adb5bd;
  color: #212529;
}

.greyBtn:hover,
.greyBtn:active,
.greyBtn:focus-visible {
  background-color: #e9ecef;
  outline: none;
}

.loading {
  color: #212529;
  background-color: #495057 !important;
  transform: translateY(6px);
  box-shadow: none;
}
