.comment {
  position: absolute;
  top: 18px;
  right: 24px;
  font-size: var(--fs-12);
  color: var(--grey-color);

  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .comment {
    max-width: 180px;
    font-size: var(--fs-08);
  }
}
