.inputGroup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.6rem;
}

.inputGroup label {
  text-transform: capitalize;
}

.inputGroup input {
  font-family: inherit;
  font-size: inherit;
  background-color: #dee2e6;
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
  border: none;
  transition: all 0.3s;
}

.inputGroup input:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem #495057;
}

.errorInput {
  box-shadow: 0 0 0 0.4rem #ff6b6b;
}

.errorMessage {
  color: #ff6b6b;
  font-size: 1.2rem;
}
