.inputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--sm-gap);

  margin-bottom: var(--m-24);
}

.inputGroup label {
  text-transform: capitalize;
}

.inputGroup input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--input-bg-color);
  border-radius: var(--default-brdr-rd);
  padding: var(--default-2v-pd);
  border: none;
  margin-bottom: var(--m-03);
  transition: var(--animation);
}

.inputGroup input:focus {
  outline: none;
  box-shadow: var(--focus-shdw);
}

.errorInput {
  box-shadow: var(--error-shdw);
}

.errorMessage {
  color: var(--error-color);
  font-size: var(--mn-fs);
}
