.active {
  color: var(--violet-color) !important;
}

.nav {
  height: var(--nav-height);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: var(--default-2v-pd);
  font-size: var(--default-fs);
  font-weight: var(--md-weight);
}

.notificationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.externalLinks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--default-gap);
}

.link {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  gap: var(--sm-gap);
  cursor: pointer;
  transition: var(--animation);
}

.link:hover {
  color: var(--hvr-color);
}

.link:focus-visible {
  outline: none;
  box-shadow: var(--focus-shdw);
}

.pageLinks {
  display: flex;
  gap: var(--default-gap);
}

.userLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--default-gap);
}

.name {
  color: var(--green-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  border: 3px solid var(--violet-color);
}

.name:hover {
  color: var(--hvr-color);
}

.logout:hover {
  color: var(--error-color);
}
