.active {
  color: var(--default-violet-color) !important;
}

.outerNav {
  position: absolute;
  display: flex;
  align-items: center;
  gap: var(--mx-gap);
  padding: var(--default-1v-pd);
  font-size: var(--md-fs);
  font-weight: var(--md-weight);
}

.link {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  gap: var(--sm-gap);
  transition: all 0.3s;
  cursor: pointer;
}

.link:hover {
  color: var(--violet-hvr-color);
}

.link:focus-visible {
  outline: none;
  box-shadow: var(--focus-shdw);
}

/* INNER */
.innerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--default-1v-pd);
  font-size: var(--md-fs);
  font-weight: var(--md-weight);
}

.innerLinks {
  display: flex;
  gap: var(--mx-gap);
}

.userLinks {
  display: flex;
  align-items: center;
  gap: var(--mx-gap);
}

.name {
  color: var(--default-green-color);
}

.photo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 3px solid var(--default-violet-color);
}

.name:hover {
  color: var(--violet-hvr-color);
}

.logout:hover {
  color: var(--error-color);
}
