.active {
  color: #845ef7 !important;
}

.outerNav {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.link {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  gap: 0.6rem;
  transition: all 0.3s;
  cursor: pointer;
}

.link:hover {
  color: #845ef7;
}

.link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.4rem #495057;
}

/* INNER */
.innerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.innerLinks {
  display: flex;
  gap: 1.2rem;
}

.userLinks {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.name {
  color: #51cf66;
}

.photo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 3px solid #845ef7;
}

.name:hover {
  color: #845ef7;
}

.logout:hover {
  color: #ff6b6b;
}
