.notificationContainer {
  height: var(--notification-height);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: var(--animation);
}

.notification {
  font-size: var(--fs-14);
  color: var(--dark-color);
  padding: var(--sm-2v-pd);
  border-radius: var(--default-brdr-rd);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sm-gap);
}

.fail {
  background-color: var(--err-not-bg-color);
  box-shadow: var(--err-not-shdw-color);
}

.success {
  background-color: var(--sccss-not-bg-color);
  box-shadow: var(--sccss-not-shdw-color);
}

.show {
  opacity: 1;
}

/* LOADING */

.loading {
  background-color: transparent;
  box-shadow: unset;
}

.dotFlashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--violet-color);
  animation: dotFlashing 0.4s infinite linear alternate;
  animation-delay: 0.2s;
}

.dotFlashing::before,
.dotFlashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dotFlashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  color: var(--violet-color);
  animation: dotFlashing 0.4s infinite alternate;
  animation-delay: 0s;
}

.dotFlashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  color: var(--violet-color);
  animation: dotFlashing 0.4s infinite alternate;
  animation-delay: 0.4s;
}

@keyframes dotFlashing {
  0% {
    background-color: var(--violet-color);
  }
  50%,
  100% {
    background-color: transparent;
  }
}
