.notification {
  color: var(--dark-color);
  padding: var(--default-2v-pd);
  border-radius: var(--default-brdr-rd);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sm-gap);
}

.fail {
  background-color: var(--err-not-bg-color);
  box-shadow: var(--err-not-shdw-color);
}

.success {
  background-color: var(--sccss-not-bg-color);
  box-shadow: var(--sccss-not-shdw-color);
}
