.pageHeader {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  justify-items: center;
  align-items: center;
}

.mainHeading {
  font-size: var(--mx-fs);
  text-transform: uppercase;
  text-align: center;
}

.backBtn {
  width: auto;
  font-size: var(--default-fs);
  display: flex;
  align-items: center;
}
