.themeButton {
  background-color: transparent;
  border: none;
  transition: var(--animation);
  opacity: 1;
}

.themeButton:hover {
  color: var(--hvr-color);
}

.isDark {
  color: var(--orange-color);
}

.isLoading {
  opacity: 0;
}
