.card {
  width: 28rem;
  text-align: center;
  color: var(--dark-color);
  padding: var(--default-2v-pd);
  border-radius: var(--default-brdr-rd);
  transition: var(--animation);
  margin-bottom: var(--m-24);

  background-color: var(--grey-color);
  box-shadow: -6px 6px 0 var(--add-card-shadow);
}

.card:hover {
  background-color: var(--violet-color);
  transform: translate(-6px, 6px);
  box-shadow: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .card {
    width: 22rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: 32rem;
  }
}
