.card {
  width: 28rem;
  color: var(--dark-color);
  padding: var(--md-2v-pd);
  border-radius: var(--default-brdr-rd);
  transition: var(--animation);
  margin-bottom: var(--m-24);
}

.card:hover:not(.loading) {
  background-color: var(--violet-color);
  transform: translate(-6px, 6px);
  box-shadow: none;
  cursor: pointer;
}

.new {
  background-color: var(--blue-color);
  box-shadow: -6px 6px 0 var(--new-card-shadow);
}

.inProgress {
  background-color: var(--orange-color);
  box-shadow: -6px 6px 0 var(--inProgress-card-shadow);
}

.completed {
  background-color: var(--green-color);
  box-shadow: -6px 6px 0 var(--completed-card-shadow);
}

.add {
  text-transform: uppercase;
  padding: var(--default-2v-pd);
  background-color: var(--grey-color);
  box-shadow: -6px 6px 0 var(--add-card-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sm-gap);
}

.loading {
  height: 16.6rem;
  background-color: var(--loading-bg-color);
  transform: translate(-6px, 6px);
}

.title {
  font-size: var(--fs-24);
  text-transform: uppercase;
  overflow: hidden;
  margin-bottom: var(--m-12);
}

.description {
  margin-bottom: var(--m-12);
  overflow-wrap: break-word;
}

.card ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--sm-gap);

  overflow: hidden;
  margin-bottom: var(--m-12);
}

.btnGroup {
  display: flex;
}

.btn,
.btn:link,
.btn:visited {
  color: inherit;
  font-size: var(--fs-24);
  background-color: transparent;
  padding: var(--sm-2v-pd);
  border-radius: var(--default-brdr-rd);
  border: none;
  transition: var(--animation);
}

.back {
  margin-left: 2.4rem;
  margin-right: auto;
}

.back:hover {
  transform: translateX(-6px) scale(1.1);
}

.forward {
  margin-right: 2.4rem;
  margin-left: auto;
}

.forward:hover {
  transform: translateX(6px) scale(1.1);
}

@media (max-width: 1024px) {
  .card {
    width: 22rem;
  }
}

@media (max-width: 768px) {
  .card {
    width: 32rem;
  }
}
