.loadingCard {
  width: 28rem;
  height: 16.6rem;
  padding: var(--md-2v-pd);
  border-radius: var(--default-brdr-rd);
  margin-bottom: var(--m-24);

  background-color: var(--loading-bg-color);
  transform: translate(-6px, 6px);
}

@media (max-width: 1024px) {
  .loadingCard {
    width: 22rem;
  }
}

@media (max-width: 768px) {
  .loadingCard {
    width: 32rem;
  }
}
