.active {
  color: var(--violet-color) !important;
}

.nav {
  height: var(--nav-height);
  padding: var(--default-2v-pd);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.externalLinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--default-gap);
}

.theme {
  margin-left: auto;
  margin-right: 0;
}

.innerLinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  display: flex;
  gap: var(--sm-gap);

  cursor: pointer;
  transition: var(--animation);
}

.link:hover {
  color: var(--hvr-color);
}

.link:focus-visible {
  outline: none;
  box-shadow: var(--focus-shdw);
}

.userLinks {
  display: flex;
  align-items: center;
  gap: var(--default-gap);
}

.photo {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  border: 3px solid var(--orange-color);
}

.name {
  color: var(--orange-color);
  display: flex;
  align-items: center;
}

.logout {
  color: var(--error-color);
}

@media (max-width: 768px) {
  .nav {
    height: unset;
  }

  .externalLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .theme {
    margin-left: 0;
    margin-right: auto;
  }
}

@media (max-width: 420px) {
  .innerLinks {
    flex-direction: column;
    gap: var(--sm-gap);
  }
}
