.active {
  color: var(--violet-color) !important;
}

.nav {
  height: var(--nav-height);
  padding: var(--default-2v-pd);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.externalLinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--default-gap);
}

.theme {
  margin-left: auto;
  margin-right: 0;
}

.innerLinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--default-gap);
}

.innerLinks a:first-child {
  margin-left: 0;
  margin-right: auto;
}

.link {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sm-gap);

  cursor: pointer;
  transition: var(--animation);
}

.link:hover {
  color: var(--hvr-color);
}

.link:focus-visible {
  outline: none;
  box-shadow: var(--focus-shdw);
}

.name {
  color: var(--orange-color);
  display: flex;
  align-items: center;
}

.logout {
  color: var(--error-color);
}

@media (max-width: 768px) {
  .externalLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .theme {
    margin-left: unset;
    margin-right: unset;
  }
}

@media (max-width: 420px) {
  .innerLinks {
    font-size: var(--fs-14);
  }
}

/* testing hamburger */

.hamburger {
  position: absolute;
  left: 0px;

  transition: var(--animation);

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */

  gap: var(--md-gap);
  background-color: #dee2e6;
  padding: var(--default-2v-pd);

  height: 100vh;
  z-index: 999;
}

.hamburger .linksGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--md-gap);
}

.burgerBtn {
  z-index: 999;
  position: absolute;
  left: 24px;
  top: 12px;
  font-size: 3.2rem;
}

.burgerBtnClose {
  font-size: 3.2rem;
}

.close {
  transform: translate(-100%);
  opacity: 0;
}

.whoAmI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--sm-gap);
}

.whoAmI div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sm-gap);
}

.whoAmI p {
  font-size: var(--fs-24);
  color: var(--dark-color);
}

.photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 4px solid var(--orange-color);
}

@media (max-width: 420px) {
  .photo {
    height: 3.2rem;
    width: 3.2rem;
    border: 2px solid var(--orange-color);
  }

  .whoAmI p {
    font-size: var(--fs-18);
  }
}
