.form {
  min-width: 32rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  font-weight: 500;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.6rem;
}

.inputGroup input {
  font-family: inherit;
  font-size: inherit;
  background-color: #dee2e6;
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
  border: none;
  transition: all 0.3s;
}

.inputGroup input:focus {
  box-shadow: 0 0 0 0.6rem #555;
  outline: none;
}

.linkGroup {
  display: flex;
  font-size: 1.4rem;
  gap: 0.6rem;
}

/* LINK */
.link {
  display: flex;
  text-decoration: none;
  transition: all 0.3s;
}

.link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.6rem #555;
}

/* VIOLET LINK*/
.violetLink {
  color: #845ef7;
}

.violetLink:hover {
  color: #9775fa;
}

/* ORANGE LINK*/
.orangeLink {
  color: #ff922b;
}

.orangeLink:hover {
  color: #ffa94d;
}
