.linkGroup {
  display: flex;
  gap: var(--sm-gap);
  font-size: var(--sm-fs);
  margin-bottom: var(--m-48);
}

.link {
  display: flex;
  text-decoration: none;
  transition: all 0.3s;
}

.link:focus-visible {
  outline: none;
  box-shadow: var(--focus-shdw);
}

/* VIOLET LINK*/
.violetLink {
  color: var(--violet-btn-bg-color);
}

.violetLink:hover {
  color: var(--violet-btn-hvr-color);
}

/* ORANGE LINK*/
.orangeLink {
  color: var(--orange-btn-bg-color);
}

.orangeLink:hover {
  color: var(--orange-btn-hvr-color);
}
