.container {
  min-height: calc(100vh - (var(--nav-height) + var(--notification-height)));

  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  min-width: 32rem;
  padding: var(--default-2v-pd);
}
