.linkGroup {
  font-size: var(--fs-14);

  display: flex;
  gap: var(--sm-gap);

  margin-bottom: var(--m-48);
}

.link {
  display: flex;
  align-items: center;
  gap: var(--sm-gap);

  text-decoration: none;
  transition: var(--animation);
}

/* VIOLET LINK*/
.violetLink {
  color: var(--violet-btn-bg-color);
}

.violetLink:hover {
  color: var(--violet-btn-hvr-color);
}

/* ORANGE LINK*/
.orangeLink {
  color: var(--orange-btn-bg-color);
}

.orangeLink:hover {
  color: var(--orange-btn-hvr-color);
}
